.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 12px;
  vertical-align: sub;
}

a {
  cursor: pointer;
}

::ng-deep input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.searchForm {
  input {
    background: #191a1b;
    border: none;
    color: #f2f2f2;
    border-radius: 100px;
    outline: none;
    width: 260px;
    transition: width .4s ease-in-out;
    line-height: normal;
    font-size: 16px;
    padding: 5px 16px 5px 16px;

    &:focus {
      width: 350px;
    }
  }
}
