<mat-toolbar color="primary">
  <a routerLink="home">
    <img class="logo" src="./assets/images/thot_32.png"/>
    <span>Thotify</span>
  </a>
  <span class="spacer"></span>

  <div>
    <form class="searchForm" (ngSubmit)="submitSearch()">
      <input #searchBox aria-label="search" placeholder="Search" type="search" [formControl]="searchControl" name="search" autocomplete="off">
    </form>
  </div>
  <button mat-icon-button aria-label="Cache" (click)="showCache()">
    <mat-icon>source</mat-icon>
  </button>
</mat-toolbar>
