<mat-toolbar color="primary">
  <a routerLink="home">
    <img class="logo" src="./assets/images/thot_32.png"/>
    <span>Thotify</span>
    <span class="header-version">{{version}}</span>
  </a>
  <span class="spacer"></span>

  <div>
    <form class="searchForm" (ngSubmit)="submitSearch()">
      <input #searchBox aria-label="search" placeholder="Search" type="search" [formControl]="searchControl" name="search" autocomplete="off">
    </form>
  </div>
  <button mat-icon-button aria-label="Cache" (click)="showCache()">
    <mat-icon>source</mat-icon>
  </button>
  <a mat-icon-button target="_blank" href="https://github.com/BlueNc/thotify">
    <mat-icon style="font-size: 1.5em;" fontSet="fab" fontIcon="fa-github"></mat-icon>
  </a>

</mat-toolbar>
