<div *ngIf="component">
  <p class="component">
    ======================================<br>
    <span class="indent">
      <mat-icon class="inline-icon">settings_applications</mat-icon>
      <strong>{{component.name}}</strong>
    </span><br>
    ======================================<br>
  </p>
  <p>
    {{component.description}}
  </p>
  <p>
    <span>Type : {{component.type}}</span><br>
    <span *ngIf="component.application">
      Application : <strong class="application"><a thotifyLink="application">{{component.application_name}}</a></strong><br>
      <span class="indent">
        Description : {{component.application?.description}}<br>
        Direction : <strong class="direction">{{component.application?.direction}}</strong><br>
        Components :
          <span *ngFor="let component of component_names; let last = last">
            <strong class="component" thotifyLink="component">{{component}}</strong>
            <span *ngIf="!last">, </span>
          </span><br>
      </span>
    </span>
  </p>
  <p>
    <span class="installation">
      === Installations ===
    </span><br>
    <span *ngFor="let env of component.installations_by_env" class="indent">
      <strong class="environment">{{env.environment_name}}</strong><br>
      <span *ngFor="let installation of env.installations" class="indent">
        <span [thotifyLink]="['component', component.name, 'installation', installation.server_name]">
          <mat-icon class="installation inline-icon" fontSet="fas" fontIcon="fa-cube"></mat-icon>
        </span>
        <span thotifyLink="server" class="server">{{installation.server_name}}</span>
        <span *ngIf="installation.ports"> - port: <span class="installation">{{installation.ports}}</span></span>
        <span *ngIf="installation.last_deployment">
          - version: <span class="installation">{{installation.last_deployment?.version}}</span>
          <span class="faded"> (deployed on {{installation.last_deployment?.date_of_deployment | date:'medium'}})</span>
        </span>
        <br>
      </span>
    </span>
  </p>
  <p>
    <span class="db_role">
      === DB Roles ===
    </span><br>
    <span *ngFor="let env of component.db_roles_by_env" class="indent">
      <strong class="environment">{{env.environment_name}}</strong><br>
      <span *ngFor="let dbRole of env.db_roles" class="indent">
        <span class="db_role">{{dbRole.name}}</span>
         -
        <span class="db_instance" [thotifyLink]="['server', dbRole.server_name, 'db_instance', dbRole.instance_name]">{{dbRole.instance_name}}</span>
         -
        <a thotifyLink="server" class="db_server">{{dbRole.server_name}}</a><br>
      </span>
    </span>
  </p>
  <p>
    <span class="link">
      === Links ===
    </span><br>
    <span *ngFor="let link_type of component.links_by_type | keyvalue" class="indent">
      <strong class="link">{{link_type.key}}</strong><br>
      <span *ngFor="let link of link_type.value" class="indent">
        <span class="component" thotifyLink="component">{{link.component_dst}}</span> - <span class="faded">{{link.description}}</span><br>
      </span>
    </span>
    <span class="link">
      ---
    </span><br>
    <span *ngFor="let link_type of component.linked_by_type | keyvalue" class="indent">
      <strong class="link">{{link_type.key}} by</strong><br>
      <span *ngFor="let link of link_type.value" class="indent">
        <a thotifyLink="component" class="component">{{link.component_src}}</a> - <span class="faded">{{link.description}}</span><br>
      </span>
    </span>
  </p>
</div>
<div *ngIf="error" class="error">
  {{error.message}}
</div>
<div *ngIf="pending">
  <thotify-skeleton-loader></thotify-skeleton-loader>
</div>
