<div class="container">
  <h1><img class="logo" src="./assets/images/thot_32.png"/> Getting started</h1>
  <mat-divider></mat-divider>
  <mat-stepper>
    <mat-step>
      <ng-template matStepLabel>Search</ng-template>
      <h2>Search</h2>
      <p>
        Using thotify who can search following objects :
      </p>
      <ul>
        <li>Application</li>
        <li>Component</li>
        <li>Server</li>
        <li>IP address</li>
      </ul>
      <p>Search accept multiple words (ex: 'trinity integ')</p>
      <img src="assets/images/thotify-search-v2.gif" class="pause">
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Navigate</ng-template>
      <h2>Navigate</h2>
      <img src="assets/images/thotify-navigation-v2.gif">
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Omibox</ng-template>
      <h2>Omibox</h2>
      <img src="assets/images/thotify-omnibox-v2.gif">
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Selection search</ng-template>
      <h2>Selection search</h2>
      <img src="assets/images/thotify-context-menu-v2.gif">
    </mat-step>
  </mat-stepper>
</div>
