<div id="popup">
  <img src="./assets/images/thot_48.png"/>
  <h2>Thotify</h2>
  <p>Version: {{version}}</p>
  <p>
    <button mat-raised-button color="primary" (click)="openThotify()">
      Open Thotify
    </button>
  </p>
  <p>
    <a mat-raised-button color="accent" target="_blank" href="https://github.com/BlueNc/thotify">
      <mat-icon style="font-size: 1.5em;" fontSet="fab" fontIcon="fa-github"></mat-icon> GitHub
    </a>
  </p>
  <p>
    <a mat-raised-button color="warn" target="_blank" href="https://github.com/BlueNc/thotify/issues/new">
      <mat-icon style="font-size: 1.5em;" fontSet="fas" fontIcon="fa-bug"></mat-icon> Report issue
    </a>
  </p>
</div>
