<div *ngIf="server">
  <p class="server">
    ======================================<br>
    <strong style="margin-left: 10px">{{server.name}}</strong><br>
    ======================================<br>
  </p>
  <p>
    Environment : <strong class="environment">{{server.env}}</strong><br>
    Zone : <strong class="zone">{{server.zone}}</strong><br>
    Ips : <strong class="ip">{{server.ip}}</strong><br>
    OS : <strong>{{server.os_name}} {{server.os_version}}</strong><br>
    CPU : <strong>{{server.cpu}}</strong>  RAM : <strong>{{server.ram}}</strong> Mo<br>
    Status : <strong class="active">{{server.status}}</strong> since {{server.date_maj_status}}<br>
  </p>
  <p>
    <span class="partitions">
      === Partitions ===
    </span><br>
    <span *ngFor="let partition of server.partitions" style="margin-left: 10px;">
      {{partition.name}} - {{partition.mount}} - {{partition.size / 1024 / 1024}}MiB<br>
    </span>
  </p>
  <p>
    <span class="installation">
      === Installed components ===
    </span><br>
    <span *ngFor="let installation of server.installations" style="margin-left: 10px;">
      <strong class="component">{{installation.component_name}}</strong> - port: <strong class="installation">{{installation.ports}}</strong><br>
    </span>
  </p>
</div>
<div *ngIf="error" class="error">
  {{error.message}}
</div>
<div *ngIf="pending">
  <mat-spinner></mat-spinner>
</div>
