<div *ngIf="server">
  <p class="server">
    ======================================<br>
    <span class="indent">
      <mat-icon class="inline-icon">storage</mat-icon>
      <strong>{{server.name}}</strong>
    </span><br>
    ======================================<br>
  </p>
  <p>
    Environment : <strong class="environment">{{server.env}}</strong><br>
    Zone : <strong class="zone">{{server.zone}}</strong><br>
    Ips : <strong class="ip">{{server.ip}}</strong><br>
    Virtual Ips : <strong class="virtual_ip">{{server.virtual_ips}}</strong><br>
    OS : <strong>{{server.os_name}} {{server.os_version}}</strong><br>
    CPU : <strong>{{server.cpu}}</strong>  RAM : <strong>{{server.ram}}</strong> Mo<br>
    Status : <strong class="active">{{server.status}}</strong> since {{server.date_maj_status}}<br>
  </p>
  <p>
    <span class="partitions">
      === Partitions ===
    </span><br>
    <span *ngFor="let partition of server.partitions" class="indent">
      {{partition.name}} - {{partition.mount}} - {{partition.size / 1024 / 1024}}MiB<br>
    </span>
  </p>
  <p>
    <span class="installation">
      === Installed components ===
    </span><br>
    <span *ngFor="let installation of server.installations" class="indent">
      <strong class="component">
        <a thotifyLink="component">{{installation.component_name}}</a>
      </strong>
      <span *ngIf="installation.ports">
         - port: <span class="installation">{{installation.ports}}</span>
      </span>
      <span *ngIf="installation.last_deployment">
         - version: <span class="installation">{{installation.last_deployment?.version}}</span>
        <span class="faded"> (deployed on {{installation.last_deployment?.date_of_deployment | date:'medium'}})</span>
      </span><br>
    </span>
  </p>
</div>
<div *ngIf="error" class="error">
  {{error.message}}
</div>
<div *ngIf="pending">
  <thotify-skeleton-loader></thotify-skeleton-loader>
</div>
