@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

$red: #D62341;
$green: #9ECE58;
$yellow: #FAED70;
$blue: #396FE2;
$magenta: #BB80B3;
$cyan: #2DDAFD;
$white: #d0d0d0;
$bright_black: rgba(255, 255, 255, 0.2);
$bright_red: #FF5370;
$bright_green: #C3E88D;
$bright_yellow: #FFCB6B;
$bright_blue: #82AAFF;
$bright_magenta: #C792EA;
$bright_cyan: #89DDFF;
$bright_white: #ffffff;


html, body {
  min-height: 100%;
}

body {
  color: $white;
  background-color: #202025;
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
}

a[routerlink] {
  color: inherit;
  text-decoration: inherit;
}

.error {
  padding: 16px;
  color: #f44336;
  font-weight: 500;
}

.info {
  padding: 16px;
  color: rgba(255,255,255,.7);
  font-weight: 500;
}

.color-accent {
  color: #607d8b;
}

.ok {
  color: $green;
}

.ko {
  color: $red;
}


.warning {
  color: $bright_red;
}


.active {
  color: $green;
}

.inactive {
  color: $red;
}


.new {
  color: $green;
}

.old {
  color: $red;
}

.faded {
  color: $bright_black;
}


.application {
  color: $blue !important;
}

.direction {
  color: $yellow !important;
}

.component {
  color: $cyan !important;
}

.installation {
  color: $bright_green !important;
}

.environment {
  color: $green !important;
}

.zone {
  color: $blue !important;
}

.ip {
  color: $bright_yellow !important;
}

.virtual_ip {
  color: $bright_blue !important;
}

.server {
  color: $magenta !important;
}

.db_instance {
  color: $bright_yellow !important;
}

.db_server {
  color: $magenta !important;
}

.database {
  color: $yellow !important;
}

.dbms {
  color: $bright_blue !important;
}

.db_role {
  color: $bright_black !important;
}

.privilege {
  color: $bright_magenta !important;
}

.parameter {
  color: $yellow !important;
}

.version {
  color: $yellow !important;
}

.url {
  color: $blue !important;
}

.vhost {
  color: $green !important;
}

.partitions {
  color: $bright_magenta !important;
}

.link {
  color: $bright_green !important;
}

.thotify-link {
  text-decoration: underline;
  cursor: pointer;
}

mat-spinner {
  margin: 20px;
}

mat-progress-bar.global {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
