<div *ngIf="!pending && value">
  <div *ngIf="nodes.length > 0">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>{{nodes.length}} éléments trouvés</div>
      <mat-list-option *ngFor="let node of nodes" (click)="goToNodePage(node)" [class]="node.class">
        <mat-icon mat-list-icon>{{node.icon}}</mat-icon>
        <div mat-line>{{node.name}}</div>
        <div mat-line> {{node.description}} </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-subheader *ngIf="nodes.length === 0" class="error">
    No node matching with <span class="color-accent"> {{value}}</span>
  </div>
</div>
<div *ngIf="!value" class="info">
  Start typing to search...
</div>
<div *ngIf="pending">
  <mat-spinner></mat-spinner>
</div>
