<div>
  <pre>
            :sdNMMmho-
    .`   -odddNMMMMMMMd:
   :o  .so:` `-hMMMMMMMMo
  -y`  /` `.sNMMMMMMMMMMM:
   :     /dMMMMMMMMMMMMMMh
   :     mMMMMMMMMMMMMMMmd
   :    `NMNmMMMMMMMsNMM.
   :    :MMy-MMMMMMh oMM-
   :    sMM/ dMMMMN. .MM:
   :   /NN+  sMMMMy  `MM:
   :  oNd-   hMMMMN.  mM/
 `-+.yNo`   `NMMMMMs  sM/
 +NNmh-     :MMMMMMN` /M+
  :y-`      sMMMMMMM+smMs
   :        dMMNmMMMhohd/
   :        NMMs.dMMh:ys-
   :        dMM+ .mMM++/
   :        hMM/  -MMN`
   :        dMN`   sMM:
   :        mMy    `NM+
  `/.      .MM.     oMo   .___..      ,
  : -`    :hMm`    .sMm`    |  |_  _ -+-
   --  /sdmmmm- /sdNMMM/    |  [ )(_) |
  </pre>
</div>
